:root {
  --background: #121212;
  --foreground: #ffffff;
  --primary: #1db954;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
